.u-section-1 .u-sheet-1 {
  min-height: 924px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 400;
  margin: 40px -53px 0 53px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1049px;
  margin: 53px 40px 60px auto;
}

.u-section-1 .u-image-1 {
  min-height: 670px;
  background-image: url("images/img37.jpg");
  background-position: 0% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  font-size: 12.5rem;
  line-height: 0.8;
  font-weight: 700;
  margin: 0 118px 0 0;
}

.u-section-1 .u-image-2 {
  min-height: 470px;
  background-image: url("images/1974-1975001.jpg");
  background-position: 50% 20.79%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 200px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-3 {
  margin: 8px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 861px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 601px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 86px;
  }

  .u-section-1 .u-image-2 {
    min-height: 421px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 179px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 139px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 354px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-image-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 20px;
  }

  .u-section-1 .u-image-2 {
    min-height: 322px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-2 {
    min-height: 369px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    font-size: 6rem;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    min-height: 232px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 705px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1037px;
  margin: 60px auto;
}

.u-section-2 .u-image-1 {
  min-height: 406px;
  background-image: url("images/1993001.jpg");
  background-position: 45.78% 29.28%;
  background-size: 105%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 281px;
}

.u-section-2 .u-container-layout-2 {
  padding: 8px 30px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

.u-section-2 .u-image-2 {
  min-height: 617px;
  background-image: url("images/img48.jpg");
  background-position: 92.03% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  font-size: 12.5rem;
  line-height: 0.8;
  font-weight: 700;
  margin: 0 115px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 628px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-image-1 {
    min-height: 368px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 255px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 139px;
  }

  .u-section-2 .u-image-2 {
    min-height: 559px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 82px;
    margin-right: 86px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 571px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-image-1 {
    min-height: 282px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    min-height: 428px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 20px;
    margin-left: 9px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1018px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    min-height: 369px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-2 {
    min-height: 1070px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    min-height: 232px;
  }

  .u-section-2 .u-image-2 {
    min-height: 674px;
  }

  .u-section-2 .u-text-2 {
    font-size: 6rem;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 705px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1037px;
  margin: 60px auto;
}

.u-section-3 .u-image-1 {
  min-height: 670px;
  background-image: url("images/img37.jpg");
  background-position: 41.07% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-size: 12.5rem;
  line-height: 0.8;
  font-weight: 700;
  margin: 0 115px 0 0;
}

.u-section-3 .u-image-2 {
  min-height: 342px;
  background-image: url("images/2000.jpg");
  background-position: 50% 21.25%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 328px;
}

.u-section-3 .u-container-layout-3 {
  padding: 7px 0;
}

.u-section-3 .u-text-2 {
  margin: 0 0 0 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 628px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-image-1 {
    min-height: 607px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 82px;
    margin-right: 86px;
  }

  .u-section-3 .u-image-2 {
    min-height: 310px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 297px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 139px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 571px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-image-1 {
    min-height: 465px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 20px;
    margin-left: 9px;
  }

  .u-section-3 .u-image-2 {
    min-height: 237px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1018px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-image-1 {
    min-height: 1163px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-2 {
    min-height: 369px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    min-height: 732px;
  }

  .u-section-3 .u-text-1 {
    font-size: 6rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    min-height: 232px;
  }
} .u-section-4 {
  background-image: linear-gradient(#66bbe2, #ebf4fc);
}

.u-section-4 .u-sheet-1 {
  min-height: 644px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: 56px auto;
}

.u-section-4 .u-image-1 {
  min-height: 557px;
  background-image: url("images/RDERzeUJEUeN7mzG5VDN.jpg");
  background-position: 0% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 315px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 40px 0 0;
}

.u-section-4 .u-image-2 {
  height: 190px;
  object-position: 50% 0%;
  width: 338px;
  margin: 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 242px;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-image-3 {
  width: 426px;
  height: 240px;
  margin: -50px -104px 0 auto;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 557px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 82px 0 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 20px 0 0;
}

.u-section-4 .u-text-3 {
  line-height: 1.8;
  margin: 25px 0 0;
}

.u-section-4 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  border-style: solid;
  font-weight: 700;
  background-image: none;
  margin: 100px auto 0 0;
  padding: 12px 30px 13px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 575px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-image-1 {
    min-height: 459px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 277px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-4 .u-image-2 {
    height: 136px;
    width: 241px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 213px;
  }

  .u-section-4 .u-image-3 {
    width: 281px;
    height: 158px;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 442px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 895px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-image-1 {
    min-height: 555px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 398px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 306px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-right: 200px;
    padding-left: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2014px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-image-1 {
    min-height: 833px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 597px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 0;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 459px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-right: 40px;
    padding-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1294px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    min-height: 524px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 376px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 289px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-right: 30px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.875rem;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 321px;
}

.u-section-5 .u-list-1 {
  margin-top: 42px;
  margin-bottom: 42px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(25% - 18px) calc(25% - 18px) calc(25% - 18px) calc(25% - 18px);
  min-height: 238px;
  grid-gap: 24px 24px;
}

.u-section-5 .u-list-item-1 {
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-5 .u-container-layout-1 {
  padding: 24px 20px;
}

.u-section-5 .u-image-1 {
  width: 90px;
  height: 90px;
  background-image: url("images/img47_re.jpg");
  background-position: 50% 50%;
  margin: 2px auto 0;
}

.u-section-5 .u-icon-1 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: -84px auto 0;
  padding: 18px;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
}

.u-section-5 .u-list-item-2 {
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-5 .u-container-layout-2 {
  padding: 24px 20px;
}

.u-section-5 .u-image-2 {
  width: 90px;
  height: 90px;
  background-image: url("images/img47_re.jpg");
  background-position: 50% 50%;
  margin: 2px auto 0;
}

.u-section-5 .u-icon-2 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: -84px auto 0;
  padding: 18px;
}

.u-section-5 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
}

.u-section-5 .u-list-item-3 {
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-5 .u-container-layout-3 {
  padding: 24px 20px;
}

.u-section-5 .u-image-3 {
  width: 90px;
  height: 90px;
  background-image: url("images/img47_re.jpg");
  background-position: 50% 50%;
  margin: 2px auto 0;
}

.u-section-5 .u-icon-3 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: -84px auto 0;
  padding: 18px;
}

.u-section-5 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
}

.u-section-5 .u-list-item-4 {
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-5 .u-container-layout-4 {
  padding: 24px 20px;
}

.u-section-5 .u-image-4 {
  width: 90px;
  height: 90px;
  background-image: url("images/img47_re.jpg");
  background-position: 50% 50%;
  margin: 2px auto 0;
}

.u-section-5 .u-icon-4 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: -84px auto 0;
  padding: 18px;
}

.u-section-5 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 18px));
    min-height: 196px;
  }

  .u-section-5 .u-icon-1 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-5 .u-icon-3 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-5 .u-icon-4 {
    color: rgb(0, 0, 0) !important;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 833px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 12px));
    min-height: 601px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.u-section-5 .u-list-item-1,
.u-section-5 .u-list-item-1:before,
.u-section-5 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-list-item-1.u-list-item-1.u-list-item-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-list-item-1.u-list-item-1.u-list-item-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-container-layout:hover .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-5 .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-list-item-2,
.u-section-5 .u-list-item-2:before,
.u-section-5 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-list-item-2.u-list-item-2.u-list-item-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-list-item-2.u-list-item-2.u-list-item-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-container-layout:hover .u-list-item-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-5 .u-list-item-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-list-item-3,
.u-section-5 .u-list-item-3:before,
.u-section-5 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-list-item-3.u-list-item-3.u-list-item-3:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-list-item-3.u-list-item-3.u-list-item-3.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-container-layout:hover .u-list-item-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-5 .u-list-item-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-list-item-4,
.u-section-5 .u-list-item-4:before,
.u-section-5 .u-list-item-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-list-item-4.u-list-item-4.u-list-item-4:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-list-item-4.u-list-item-4.u-list-item-4.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-container-layout:hover .u-list-item-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-5 .u-list-item-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-a9a9-42:not([data-block-selected]):not([data-cell-selected]),
.u-block-a9a9-42:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-a9a9-42:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-a9a9-42:not([data-block-selected]):not([data-cell-selected]).u-block-a9a9-42:not([data-block-selected]):not([data-cell-selected]).u-block-a9a9-42:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-a9a9-42.u-block-a9a9-42.u-block-a9a9-42.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout:hover .u-block-a9a9-42:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-a9a9-42 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-a9a9-50:not([data-block-selected]):not([data-cell-selected]),
.u-block-a9a9-50:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-a9a9-50:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-a9a9-50:not([data-block-selected]):not([data-cell-selected]).u-block-a9a9-50:not([data-block-selected]):not([data-cell-selected]).u-block-a9a9-50:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-a9a9-50.u-block-a9a9-50.u-block-a9a9-50.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout:hover .u-block-a9a9-50:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-a9a9-50 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-a9a9-58:not([data-block-selected]):not([data-cell-selected]),
.u-block-a9a9-58:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-a9a9-58:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-a9a9-58:not([data-block-selected]):not([data-cell-selected]).u-block-a9a9-58:not([data-block-selected]):not([data-cell-selected]).u-block-a9a9-58:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-a9a9-58.u-block-a9a9-58.u-block-a9a9-58.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout:hover .u-block-a9a9-58:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-a9a9-58 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-a9a9-66:not([data-block-selected]):not([data-cell-selected]),
.u-block-a9a9-66:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-a9a9-66:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-a9a9-66:not([data-block-selected]):not([data-cell-selected]).u-block-a9a9-66:not([data-block-selected]):not([data-cell-selected]).u-block-a9a9-66:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-a9a9-66.u-block-a9a9-66.u-block-a9a9-66.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout:hover .u-block-a9a9-66:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-a9a9-66 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}