.u-section-1 .u-sheet-1 {
  min-height: 703px;
}

.u-section-1 .u-image-1 {
  width: 300px;
  margin: 71px auto 0 58px;
}

#myImg {
  width: 227px;
  height: 385px;
  margin: -442px auto 0 95px;
}

#myImg:hover {opacity: 0.7;}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

.u-section-1 .u-group-elements-1 {
  width: 653px;
  min-height: 558px;
  margin: -443px 58px 0 auto;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-size: 3.75rem;
  margin: 0 167px 0 0;
}

.u-section-1 .u-line-1 {
  width: 466px;
  transform-origin: left center 0px;
  height: 3px;
  margin: 29px auto 0 0;
}

.u-section-1 .u-text-2 {
  line-height: 2;
  letter-spacing: 1px;
  font-size: 1.125rem;
  margin: 28px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: -41px auto 60px 158px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-left: 29px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 66px;
  }

  .u-section-1 .u-group-elements-1 {
    height: auto;
    margin-left: 258px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 129px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-elements-1 {
    margin-left: 38px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-left: 58px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 95px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 540px;
    margin-left: auto;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 158px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-left: 49px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 86px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 340px;
    margin-left: -9px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-3 {
    margin-left: 90px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 405px;
}

.u-section-2 .u-blog-1 {
  margin-top: 0;
  margin-bottom: 30px;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 375px;
}

.u-section-2 .u-repeater-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-image-1 {
  height: 140px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-text-2 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-2 .u-btn-1 {
  border-style: none none solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: normal;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-repeater-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-image-2 {
  height: 140px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-text-4 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-2 .u-btn-2 {
  border-style: none none solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: normal;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-repeater-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-image-3 {
  height: 140px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-text-6 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-2 .u-btn-3 {
  border-style: none none solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: normal;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-repeater-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-7 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-image-4 {
  height: 140px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-text-8 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-2 .u-btn-4 {
  border-style: none none solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: normal;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}