{% extends 'main/wrapper.html' %}

{% load static %}

{% block css %}

    <link rel="stylesheet" href="{% static 'main/css/for_students.css' %}" media="screen">

{% endblock %}

{% block content %}
    <section class="u-align-center u-clearfix u-section-1" id="sec-5b86">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-left-cell u-size-28 u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                  <div class="u-rotation-parent u-rotation-parent-1">
                    <img class="u-image u-image-round u-radius-26 u-rotate-90 u-image-1" data-image-width="300" data-image-height="500" src="{% static 'main/images/40_re.png' %}">
                  </div>
                  <img alt="" class="u-align-left u-image u-image-round u-radius-16 u-image-2" data-image-width="1600" data-image-height="1068" src="{% static 'main/images/56600ecb9d092-dsc-2742.jpg' %}">
                </div>
              </div>
              <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-32 u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">
                  <h1 class="u-custom-font u-font-lobster u-text u-text-custom-color-7 u-text-1">Ученику</h1>
                  <ul class="u-custom-list u-file-icon u-large-text u-text u-text-variant u-text-2">
                    <li>
                      <div class="u-list-icon">
                        <img src="{% static 'main/images/808603.png' %}" alt="">
                      </div> Список учебных классов&nbsp;
                    </li>
                    <li>
                      <div class="u-list-icon">
                        <img src="{% static 'main/images/808603.png' %}" alt="">
                      </div>Расписание на учебный год
                    </li>
                    <li>
                      <div class="u-list-icon">
                        <img src="{% static 'main/images/808603.png' %}" alt="">
                      </div>Список преподавателей по предметам
                    </li>
                    <li>
                      <div class="u-list-icon">
                        <img src="{% static 'main/images/808603.png' %}" alt="">
                      </div> Список учащихся по учебным классам
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-section-2" id="sec-30a8">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-center u-container-style u-custom-item u-grey-5 u-hover-feature u-list-item u-radius-15 u-repeater-item u-shape-round u-list-item-1">
              <div class="u-container-layout u-similar-container u-container-layout-1" >
                <div class="u-align-center u-image u-image-circle u-image-1" style="background-image: url({% static 'main/images/img47_re.jpg' %});"  alt="" data-image-width="840" data-image-height="669"></div><span class="u-align-center u-custom-item u-file-icon u-icon u-icon-circle u-text-grey-80 u-white u-icon-1"><img src="{% static 'main/images/48.png' %}" alt=""></span>
                <h5 class="u-text u-text-default u-text-1" >список учебных классов</h5>
              </div>
            </div>
            <div class="u-align-center u-container-style u-custom-item u-grey-5 u-hover-feature u-list-item u-radius-15 u-repeater-item u-shape-round u-list-item-2">
              <div class="u-container-layout u-similar-container u-container-layout-2">
                <div class="u-align-center u-image u-image-circle u-image-2" style="background-image: url({% static 'main/images/img47_re.jpg' %});"  alt="" data-image-width="840" data-image-height="669"></div><span class="u-align-center u-custom-item u-file-icon u-icon u-icon-circle u-text-grey-80 u-white u-icon-2"><img src="{% static 'main/images/49.png' %}" alt=""></span>
                <h5 class="u-text u-text-default u-text-2">расписание на учебный год</h5>
              </div>
            </div>
            <div class="u-align-center u-container-style u-custom-item u-grey-5 u-hover-feature u-list-item u-radius-15 u-repeater-item u-shape-round u-list-item-3">
              <div class="u-container-layout u-similar-container u-container-layout-3">
                <div class="u-align-center u-image u-image-circle u-image-3" style="background-image: url({% static 'main/images/img47_re.jpg' %});"  alt="" data-image-width="840" data-image-height="669"></div><span class="u-align-center u-custom-item u-file-icon u-icon u-icon-circle u-text-grey-75 u-white u-icon-3"><img src="{% static 'main/images/50.png' %}" alt=""></span>
                <h5 class="u-text u-text-default u-text-3">список преподавателей по предеметам</h5>
              </div>
            </div>
            <div class="u-align-center u-container-style u-custom-item u-grey-5 u-hover-feature u-list-item u-radius-15 u-repeater-item u-shape-round u-list-item-4" >
              <div class="u-container-layout u-similar-container u-container-layout-4">
                <div class="u-align-center u-image u-image-circle u-image-4" style="background-image: url({% static 'main/images/img47_re.jpg' %});"  alt="" data-image-width="840" data-image-height="669"></div><span class="u-align-center u-custom-item u-file-icon u-icon u-icon-circle u-text-grey-80 u-white u-icon-4"><img src="{% static 'main/images/51.png' %}" style="background-image: url({% static 'main/images/img47_re.jpg' $});"alt=""></span>
                <h5 class="u-text u-text-default u-text-4">список учащихся по учебным классам</h5>
              </div>
            </div>
          </div>
        </div>
      </div>








    </section>
    {% endblock %}
