 .u-section-1 {
  background-image: url("images/7281min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 802px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  letter-spacing: 0px;
  font-weight: 700;
  margin: 121px 323px 0 1px;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 650px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 158px;
  min-width: 94px;
  margin: 20px auto 0 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-icon-4 {
  height: 100%;
}

.u-section-1 .u-list-1 {
  margin-bottom: 60px;
  margin-top: 30px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 338px;
  grid-gap: 30px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 35px 30px 30px;
}

.u-section-1 .u-icon-5 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 30px auto 0;
}

.u-section-1 .u-text-4 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 35px 30px 30px;
}

.u-section-1 .u-icon-6 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 30px auto 0;
}

.u-section-1 .u-text-6 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 35px 30px 30px;
}

.u-section-1 .u-icon-7 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 30px auto 0;
}

.u-section-1 .u-text-8 {
  font-style: italic;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 717px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-right: 124px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 437px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 279px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 217px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 641px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1216px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 60px;
    margin-right: 125px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 208px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1366px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 85px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 92px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 705px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1037px;
  margin: 60px auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 670px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 12.5rem;
  line-height: 0.8;
  font-weight: 700;
  margin: 0 115px 0 0;
}

.u-section-2 .u-image-1 {
  min-height: 350px;
  background-image: url("images/pexels-photo-5233311.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 267px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  margin: 0;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  border-style: solid;
  font-weight: 700;
  background-image: none;
  margin: 30px 0 0;
  padding: 19px 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 628px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 607px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 82px;
    margin-right: 86px;
  }

  .u-section-2 .u-image-1 {
    min-height: 317px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 242px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 139px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 571px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 20px;
    margin-left: 9px;
  }

  .u-section-2 .u-image-1 {
    min-height: 243px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1018px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-1 {
    min-height: 369px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    font-size: 6rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 232px;
  }
} .u-section-3 {
  background-image: url("images/cvmin.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 739px;
}

.u-section-3 .u-group-1 {
  width: 649px;
  min-height: 448px;
  margin: 291px 0 0 auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0 30px 30px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1.25rem;
  font-weight: 300;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  margin: 20px 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.125rem;
  line-height: 1.8;
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-4 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  border-style: none;
  font-weight: 700;
  background-image: none;
  margin: 32px auto 0 0;
  padding: 19px 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 714px;
  }

  .u-section-3 .u-group-1 {
    width: 515px;
    min-height: 486px;
    margin-top: 228px;
    margin-bottom: -1px;
  }

  .u-section-3 .u-text-2 {
    font-size: 3rem;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    background-position: 46.21% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 701px;
  }

  .u-section-3 .u-group-1 {
    width: 422px;
    min-height: 537px;
    margin-top: 164px;
    margin-bottom: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 607px;
  }

  .u-section-3 .u-group-1 {
    width: 326px;
    margin-top: 70px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    background-position: 39.87% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 681px;
  }

  .u-section-3 .u-group-1 {
    width: 194px;
    min-height: 617px;
    margin-top: 64px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
    width: auto;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    font-size: 1rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 705px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1037px;
  margin: 60px auto;
}

.u-section-4 .u-image-1 {
  min-height: 350px;
  background-image: url("images/photo-1546414701-81cc6963c67f.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 337px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin: 0;
}

.u-section-4 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  border-style: solid;
  font-weight: 700;
  background-image: none;
  margin: 30px 0 0;
  padding: 19px 30px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 617px;
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  font-size: 12.5rem;
  line-height: 0.8;
  font-weight: 700;
  margin: 0 115px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 628px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-image-1 {
    min-height: 317px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 305px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 139px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 559px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 82px;
    margin-right: 86px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 571px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-image-1 {
    min-height: 243px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 20px;
    margin-left: 9px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1018px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-image-1 {
    min-height: 369px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    min-height: 232px;
  }

  .u-section-4 .u-text-2 {
    font-size: 6rem;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-5 {
  background-image: url("images/pexels-photo-325185.jpeg");
  background-position: 0% 0%;
}

.u-section-5 .u-sheet-1 {
  min-height: 643px;
}

.u-section-5 .u-gallery-1 {
  width: 929px;
  height: 423px;
  grid-gap: 10px;
  margin: 60px auto;
}

.u-section-5 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
}

.u-section-5 .u-gallery-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(66,84,101,0.25);
}

.u-section-5 .u-back-slide-1 {
  background-position: 50% 50%;
}

.u-section-5 .u-back-image-1 {
  object-position: 50% 50%;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(66,84,101,0.25);
}

.u-section-5 .u-back-slide-2 {
  background-position: 50% 50%;
}

.u-section-5 .u-back-image-2 {
  object-position: 50% 50%;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(66,84,101,0.25);
}

.u-section-5 .u-back-slide-3 {
  background-position: 50% 50%;
}

.u-section-5 .u-back-image-3 {
  object-position: 50% 50%;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 505px;
  }

  .u-section-5 .u-gallery-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1072px;
  }

  .u-section-5 .u-gallery-1 {
    width: 720px;
    height: 984px;
    grid-template-columns: repeat(2, auto);
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2317px;
  }

  .u-section-5 .u-gallery-1 {
    width: 540px;
    height: 2214px;
    grid-template-columns: repeat(1, auto);
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1487px;
  }

  .u-section-5 .u-gallery-1 {
    width: 340px;
    height: 1394px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 705px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1037px;
  margin: 60px auto;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 670px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  font-size: 12.5rem;
  line-height: 0.8;
  font-weight: 700;
  margin: 0 115px 0 0;
}

.u-section-6 .u-image-1 {
  min-height: 350px;
  background-image: url("images/gffgl.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 267px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-text-2 {
  margin: 0;
}

.u-section-6 .u-text-3 {
  margin: 30px auto 0 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  padding: 0;
}

.u-section-6 .u-btn-2 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  border-style: solid;
  font-weight: 700;
  background-image: none;
  margin: 30px 0 0;
  padding: 19px 30px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 628px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 607px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 82px;
    margin-right: 86px;
  }

  .u-section-6 .u-image-1 {
    min-height: 317px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 242px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 139px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 571px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 20px;
    margin-left: 9px;
  }

  .u-section-6 .u-image-1 {
    min-height: 243px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1018px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-image-1 {
    min-height: 369px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-6 .u-text-1 {
    font-size: 6rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-1 {
    min-height: 232px;
  }
} .u-section-7 {
  background-image: url("images/hhhhhhh.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 651px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 376px auto 60px 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 214px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  font-size: 3.75rem;
  text-transform: none;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 50px 0 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 214px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 113px 0 0;
}

.u-section-7 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 268px;
  min-width: 188px;
  margin: 30px auto 0 0;
}

.u-section-7 .u-icon-1 {
  height: 100%;
}

.u-section-7 .u-icon-2 {
  height: 100%;
}

.u-section-7 .u-icon-3 {
  height: 100%;
}

.u-section-7 .u-icon-4 {
  height: 100%;
}

.u-section-7 .u-icon-5 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 176px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 176px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 13px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 423px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 523px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    background-position: 43.93% 50%;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 572px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 160px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-8 {
  background-image: url("images/bn.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 644px;
}

.u-section-8 .u-layout-wrap-1 {
  width: 1140px;
  margin: 56px auto;
}

.u-section-8 .u-image-1 {
  min-height: 557px;
  background-image: url("images/photo-1518005020951-eccb494ad742.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 315px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 40px 0 0;
}

.u-section-8 .u-image-2 {
  height: 248px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 0%;
}

.u-section-8 .u-layout-cell-3 {
  min-height: 242px;
}

.u-section-8 .u-container-layout-3 {
  padding: 0 30px 30px 0;
}

.u-section-8 .u-image-3 {
  width: 177px;
  height: 176px;
  margin: 0 auto 0 0;
}

.u-section-8 .u-layout-cell-4 {
  min-height: 557px;
}

.u-section-8 .u-container-layout-4 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0;
}

.u-section-8 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 20px 0 0;
}

.u-section-8 .u-text-3 {
  line-height: 1.8;
  margin: 25px 0 0;
}

.u-section-8 .u-text-4 {
  margin: 25px 0 0;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  padding: 0;
}

.u-section-8 .u-btn-2 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  border-style: solid;
  font-weight: 700;
  background-image: none;
  margin: 30px auto 0 0;
  padding: 19px 30px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 575px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-8 .u-image-1 {
    min-height: 459px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 277px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-8 .u-image-2 {
    height: 197px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 213px;
  }

  .u-section-8 .u-image-3 {
    width: 175px;
    height: 174px;
  }

  .u-section-8 .u-layout-cell-4 {
    min-height: 442px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 895px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-8 .u-image-1 {
    min-height: 555px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 398px;
  }

  .u-section-8 .u-image-2 {
    height: 333px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 306px;
  }

  .u-section-8 .u-image-3 {
    width: 247px;
    height: 246px;
  }

  .u-section-8 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-right: 200px;
    padding-left: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 2014px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-8 .u-image-1 {
    min-height: 833px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 597px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-top: 0;
    padding-right: 10px;
  }

  .u-section-8 .u-image-2 {
    height: 483px;
    width: 483px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 459px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-8 .u-image-3 {
    width: 363px;
    height: 362px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-right: 40px;
    padding-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1294px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-8 .u-image-1 {
    min-height: 524px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 376px;
  }

  .u-section-8 .u-image-2 {
    height: 294px;
    width: 294px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 289px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-8 .u-image-3 {
    width: 294px;
    height: 293px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-right: 30px;
  }

  .u-section-8 .u-text-2 {
    font-size: 1.875rem;
  }
}